/* .navbar {
    height: 100px;
} */
button {
   
    margin: 5px;
}
#newButton {
    margin-left: 10px;
}
.item {
    float: left;
    
}
body {
    background-color: aliceblue;
}
h1 {
    font-weight: bold;
    margin-left: 10px;
}
input {
    margin: 10px;
    width: 200px;
    
}
